<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add new Inventory</h1>
    <div>
        <form action="/create" method="POST">
            <div>
            <label for="cat">Category Name:</label>
            <input type="text" id="cat" name="cat" required>
            </div>
        
            <div>
            <label for="catDesc">Category Description:</label>
            <input type="text" id="catDesc" name="catDesc" required>
        </div>

            <div>
            <label for="div">Division Name:</label>
            <input type="text" id="div" name="div" required>
        </div>
        
        <div>
            <label for="subcat">Sub-Category Name:</label>
            <input type="text" id="subcat" name="subcat" required>
        </div>
        
        <div>
            <label for="subcatDesc">Sub-Category Description:</label>
            <input type="text" id="subcatDesc" name="subcatDesc" required>
        </div>

        <div>
            <label for="quantity">Quantity :</label>
            <input type="number" id="quantity" name="quantity" required>
        </div>
            <button type="submit">Submit</button>
        </form>

    </div>
    <a href="/">
        <button>Return to home page</button>
    </a>

  </body>
</html>
