<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/formstyle.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="form-div">

        <form action="/create" method="POST">
            <h1>Add new Inventory</h1>

            <div>
            <label for="cat">Category Name:</label>
            <input type="text" id="cat" name="cat" required>
            </div>
        
            <div>
            <label for="catDesc">Category Description:</label>
            <input type="text" id="catDesc" name="catDesc" required>
        </div>

            <div>
            <label for="div">Division Name:</label>
            <input type="text" id="div" name="div" required>
        </div>
        
        <div>
            <label for="subcat">Sub-Category Name:</label>
            <input type="text" id="subcat" name="subcat" required>
        </div>
        
        <div>
            <label for="subcatDesc">Sub-Category Description:</label>
            <input type="text" id="subcatDesc" name="subcatDesc" required>
        </div>

        <div>
            <label for="quantity">Quantity :</label>
            <input type="number" id="quantity" name="quantity" required>
        </div>
            <button class="form-submit" type="submit">Submit</button>
        </form>

        <a href="/">
            <button class="form-back">Return to home page</button>
        </a>
    </div>
  

  </body>
</html>
